 .spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
  }
  .assignment-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px 0;
  }
  .w-full {
    width: 100%;
  }
  /* Removed .toggle-form-button as it's no longer needed */
  mat-spinner {
    margin-right: 8px; /* Space between spinner and text */
  }
  mat-dialog-actions button {
    display: flex;
    align-items: center;
  }
