<!-- Header -->
<div
  class="fixed w-full flex items-center justify-between h-14 text-white z-10"
>
  <div
    class="flex items-center justify-start md:justify-center pl-3 w-14 md:w-64 h-14 bg-blue-800 dark:bg-gray-400 border-none"
  >
    <img src="/logoldirisln.png" alt="Logo" class="h-full w-full object-contain" />
  </div>
  <div
    class="flex justify-between items-center h-14 bg-blue-800 dark:bg-gray-400 header-right"
  >
    <div class="flex items-center w-full max-w-xl mr-4 p-2 shadow-sm">
      <h4 class="flex items-center">Sistema de Mantenimiento</h4>
    </div>
    <ul class="flex items-center">
      <li>
        <button class="transition ease-in-out delay-80 bg-gray-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300" (click)="onLogout()">
          <a class="flex items-center mr-4 hover:text-white-500 align-baseline">
            <span class="inline-flex mr-1">
              <svg
                class="w-5 h-5"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                ></path>
              </svg>
            </span>
            Logout
          </a>
        </button>
      </li>
    </ul>
  </div>
</div>
<!-- ./Header -->
