<!-- Header -->
<div class="fixed w-full flex items-center justify-between h-14 z-10">
  <div
    class="flex justify-start md:justify-center pl-3 w-14 md:w-64 h-14 bg-sky-400 border-none"
  >
    <img
      src="/logoMINSA.png"
      alt="Logo"
      class="h-full w-11/12 object-contain"
    />
  </div>
  <div class="flex justify-between items-center h-14 bg-sky-400 header-right">
    <div class="flex items-center w-full max-w-xl mr-4 p-2">
      <h4 class="flex items-center">Sistema de Mantenimiento</h4>
    </div>
    <div class="bg-transparent">
      <ul class="flex items-center pr-4">
        <li class="list-none">
          <button
          (click)="onLogout()"
          class="border-0 bg-transparent hover:bg-transparent text-white hover:text-gray-300 focus:outline-none shadow-none"
          >
          <mat-icon>logout</mat-icon>
        </button>
      </li>
    </ul>
    </div>
  </div>
</div>
<!-- ./Header -->

<!--
<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 py-3">
tabla
</div> -->
