
<div x-data="setup()" :class="{ 'dark': isDark }">
  <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white text-black dark:text-white">
    <app-header/>
    <app-sidebar/>
    <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
      <router-outlet/>
    </div>
  </div>
</div>

<!--
<div className="grid grid-cols-5 grid-rows-5 gap-4" x-data="setup()" :class="{ 'dark': isDark }">
    <div className="row-span-5"><app-sidebar/></div>
    <div className="col-span-4"><app-header/></div>
           <div className="col-span-4 row-span-4 col-start-2 row-start-2"><router-outlet/></div>

</div>  -->
<!--
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    fixedInViewport
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of navItems"
        [routerLink]="['/dashboard/main', item.path]"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/login">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>DIRIS Lima Norte - Mantenimiento</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button aria-label="User menu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
