<div class="container form-container">
  <div mat-dialog-actions class="dialog-header">
    <button
      mat-icon-button
      class="close-button"
      aria-label="Close form"
      (click)="onCancel()"
    >
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>

  <h2 mat-dialog-title class="dialog-title">
    {{ isEditMode ? "Editar Usuario" : "Nuevo Usuario" }}
  </h2>

  <form [formGroup]="userForm" (ngSubmit)="addOrEdit()">
    <mat-dialog-content class="dialog-content">
      <div class="form-fields-grid">
        <mat-form-field>
          <mat-label>DNI</mat-label>
          <input matInput placeholder="dni" formControlName="dni" required />
          <mat-icon matSuffix fontIcon="person"></mat-icon>
          <mat-error *ngIf="userForm.get('dni')?.hasError('required') && userForm.get('dni')?.touched">DNI es requerido</mat-error>
          <mat-error *ngIf="userForm.get('dni')?.hasError('invalidDni') && userForm.get('dni')?.touched">
        El DNI debe contener exactamente 8 dígitos numéricos.
      </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Nombre"
            formControlName="nombre"
            required
          />
          <mat-icon matSuffix fontIcon="person"></mat-icon>
          <mat-error
            *ngIf="
              userForm.get('nombre')?.hasError('required') &&
              userForm.get('nombre')?.touched
            "
          >
            El nombre es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input
            matInput
            placeholder="Apellido"
            formControlName="apellido"
            required
          />
          <mat-icon matSuffix fontIcon="person"></mat-icon>
          <mat-error
            *ngIf="
              userForm.get('apellido')?.hasError('required') &&
              userForm.get('apellido')?.touched
            "
          >
            El apellido es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nombre de usuario</mat-label>
          <input
            matInput
            placeholder="Nombre de usuario"
            formControlName="nombre_usuario"
            required
          />
          <mat-icon matSuffix fontIcon="person"></mat-icon>
          <mat-error
            *ngIf="
              userForm.get('nombre_usuario')?.hasError('required') &&
              userForm.get('nombre_usuario')?.touched
            "
          >
            El nombre de usuario es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input
            matInput
            placeholder="Correo"
            formControlName="correo"
            type="email"
            required
          />
          <mat-icon matSuffix fontIcon="mail"></mat-icon>
          <mat-error
            *ngIf="
              userForm.get('correo')?.hasError('required') &&
              userForm.get('correo')?.touched
            "
          >
            El correo es requerido
          </mat-error>
          <mat-error
            *ngIf="
              userForm.get('correo')?.hasError('email') &&
              userForm.get('correo')?.touched
            "
          >
            Formato de correo inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Clave</mat-label>
          <input
            matInput
            placeholder="Clave"
            formControlName="clave"
            type="password"
            [required]="!isEditMode || passwordChanged"
          />
          <mat-icon matSuffix fontIcon="vpn_key"></mat-icon>
          <mat-error
            *ngIf="
              userForm.get('clave')?.hasError('required') &&
              userForm.get('clave')?.touched
            "
          >
            La contraseña es requerida
          </mat-error>
        </mat-form-field>
      </div>
    </mat-dialog-content>

    <div mat-dialog-actions align="end" class="button-container">
      <button type="button" mat-flat-button (click)="onCancel()" color="warn">
        Cancelar
      </button>
      <button type="submit" mat-flat-button color="primary">
        {{ isEditMode ? "Guardar Cambios" : "Crear Usuario" }}
      </button>
    </div>
  </form>
</div>
