<div class="container form-container">
    <div> 
        <button mat-icon-button class="close-button" aria-label="Close form">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </div>
    <div mat-dialog-title>Formulario</div>
    <div mat-dialog-content>
        <mat-form-field >
            <mat-label>Departamento ID</mat-label>
            <input matInput placeholder="Id" [(ngModel)]="establecimientoData.departamento_id" class="form-input">
            <mat-icon fontIcon="person" matSuffix></mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field >
            <mat-label>Provincia ID</mat-label>
            <input matInput placeholder="Id" [(ngModel)]="establecimientoData.provincia_id" class="form-input">
            <mat-icon fontIcon="person" matSuffix></mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field >
            <mat-label>Distrito ID</mat-label>
            <input matInput placeholder="Id" [(ngModel)]="establecimientoData.distrito_id" class="form-input">
            <mat-icon fontIcon="person" matSuffix></mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field >
            <mat-label>RIS ID</mat-label>
            <input matInput placeholder="Id" [(ngModel)]="establecimientoData.ris_id" class="form-input">
            <mat-icon fontIcon="person" matSuffix></mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field >
            <mat-label>Categoría ID</mat-label>
            <input matInput placeholder="Id" [(ngModel)]="establecimientoData.categoria_id" class="form-input">
            <mat-icon fontIcon="person" matSuffix></mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field >
            <mat-label>Código</mat-label>
            <input matInput placeholder="Codigo" [(ngModel)]="establecimientoData.codigo" class="form-input">
            <mat-icon fontIcon="person" matSuffix></mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field >
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" [(ngModel)]="establecimientoData.nombre" class="form-input">
            <mat-icon fontIcon="person" matSuffix></mat-icon>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="button-container">
        <button (click)="addOrEdit(establecimientoData)" mat-flat-button mat-dialog-close="establecimientoData" class="rounded-full py-2 px-4 bg-green-500 hover:bg-green-300">Guardar</button>
        <br>
        <button mat-flat-button mat-dialog-close="establecimientoData" class="rounded-full py-2 px-4 bg-red-600 hover:bg-red-400">cancelar</button>
    </div>

</div>