@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@use '@angular/material' as mat;

:root {
  @include mat.button-overrides(
    (
      filled-container-shape: 10px
    )
  );
}

mat-sidenav[style] {
  visibility: visible !important;
}
.mat-drawer {
  transform: none !important;
}
